/********************Common*********************/
body
{
    padding-top: 50px;
    background-color: #EEE;
    font: 12px/18px arial,STHeiti,'Microsoft YaHei','宋体';
}

a
{   /* 超链接无下划线 */
    text-decoration: none;
    color: #555;
}
a:hover
{
    text-decoration: none;
    color: #227DC5;
}

.div_center
{
    margin-left: auto;
    margin-right: auto;
}

.shadow-box
{
    display: block;
    background-color: #FFF;
    border: 1px solid #E1DFDF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #CCC;
    word-break: break-all;
}

.shadow-text
{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#viewer_prev, #viewer_next
{
    background: url('/HappyDonkey/static/image/donkey_sprites_n.png') no-repeat scroll  0% 0% transparent ;
}

#preview_list:after, #gallery:after,#paint_addition:after, #user_section:after, .new_header:after
{
    content:"  ";
    display:block;
    clear:both;
}

/**********************main.php***************************/
#login_dialog
{
    width: 300px;
    height: 300px;
    top: 20%;
}

#register_dialog
{
    width: 400px;
    height: 400px;
    top: 20%;
}

#hd_main
{
    text-align: center;
}

#gallery
{
    width: 860px;
    padding: 40px 0px 10px;
    text-align: center;
}

#welcome
{
    text-align: center;
}

#paint_suggest
{
    float: right;
    width: 330px ;
    overflow: hidden;
}

#paint_list
{
    float: left;
    width: 520px;
    min-height: 100px ;
}

.a-paint
{
    margin-bottom: 20px;
    width: 500px;
}

.a-paint  .paint-header
{

}

.a-paint .paint-content
{

}

.a-paint .paint-brief-info
{
    border-bottom: 1px solid #E1DFDF;
    padding: 15px 10px 15px 15px;
}

.a-paint .paint-comment-list
{
    background-color: #f8f8f8;
    padding: 10px 10px 15px 15px;
}

.a-comment
{
    display: block;
    padding: 10px 0px 0px 10px;
}

.a-comment .avatar
{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.a-comment .avatar .image
{
    width: 30px;
    height: 30px;
    position: relative;
    left: 0px;
    top: 0px;
}

.a-comment .content
{
    text-align: left;
    position: relative;
    margin-left: 40px;
    font-size: 12px;
}

.content .info
{
    margin: 0px 0px 0px 0px;
}

.content .info .user-name
{
    color: #666;
    font-weight: bold;
}
.content .info .time
{
    color: #AAA;
}
.content .text
{
    color: #666;
    display: block;
}

.paging
{
    text-align: center;
}

#today_popular
{
    margin-bottom: 20px;
}
#recommend_to_you
{
    margin-bottom: 20px;
}
#browse_history
{
    margin-bottom: 20px;
}

.column_header
{
    border-bottom: 1px solid #E1DFDF;
    margin-bottom: 2px;
    background-color: #000;
}

.head_font
{
    font-size: 24;
    text-align: center;
    color:#CCC;
    line-height: 35px; /*= column_header height*/
}

.item_brief
{
    margin-left: 20px;
    text-align: left;
    line-height: 25px;
    border-bottom: 1px solid #E1DFDF;
}


/***************************home.php************************/

#home_wrapper
{
    padding: 40px 0px 40px;
    width: 50%;
    min-width: 850px;
}

#user_section
{
    margin-bottom: 20px;
    padding: 5px 10px 5px;
    /*background-image: url(/HappyDonkey/static/image/back.jpg); */
}
#user_detail
{
    float: left;
    line-height: 40px;
    font-size: 36;
    position: relative;
    left: 10px;
    top: 100px;
}

#home_news
{
    float: left;
    width: 70%;
    position: relative;
}

#home_news #news_header
{
    line-height: 30px;
    font-size: 15;
    margin-bottom: 4px;
    background-color: #F4F5F5;
}


#home_news #news_list
{
    margin-left: auto;
    margin-right: auto;
}

#news_list .a-news
{
    margin-bottom: 6px;
}

/*
.a-news .new_header
{
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
}

.new_header .new_date
{
    float:  left;
    width: 150px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 15;
}
.new_header .new_operate
{
    float:  right;
    padding-top: 5px;
    padding-right: 10px;
} */

.a-thumb
{
    width: 152px;
    height: 152px;
    float: left;
    padding: 1px 1px 1px;
}

.a-thumb > img
{
    width: 150px;
    height: 150px;
}



#home_addition
{
    float: right;
    width: 28%;
}

#home_addition #about_me,#interesting,.ad
{
    margin-bottom: 15px;
}

/*
#home_addition #interesting
{
    margin-bottom: 15px;
}

#home_addition .ad
{
    margin-bottom: 15px;
}*/

/*****************  Paint.php  * ***************/
#paint_main
{
    margin-left: auto;
    margin-right: auto;
    width:  70%;
    /*background-color: #333; */
}

#paint_main #screen
{
    position: relative;
    min-height: 400px;
    background-color: #333333;
}

#paint_main #preview
{
    background-color: #0A0A0A;
}

#viewer_prev, #viewer_next
{
    position: absolute;
    top: 45%;
    width: 32px;
    height: 64px;
    cursor: pointer;
}
#viewer_prev
{
    left: 10px;
    background-position: -32px 0px;
}
#viewer_next
{
    right: 10px;
    background-position: 0px 0px;
}

#paint_addition #discuss
{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    float: left;
}

#paint_addition #paint_info
{
    margin-top: 30px;
    float: right;
    width: 28%;
    height: 300px;
}

#paint_content
{
    position: relative;
    height: 100%;
    padding-top: 20px;
}

#paint_container
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin: auto;
}

#preview_list
{

}



.a_preview
{
    float: left;
}

.a_preview_inner
{
    padding: 6px;
}

.preview_thumb
{
    width: 160px;
    height: 100px;
}
#paint_addition
{
    margin-bottom: 130px;
}

#my_comment
{
    margin-bottom: 30px;
}

#comment-header
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #E1DFDF;
    font-size: 14;
    line-height: 30px;
}

#paint_info_header
{
    background-color: #f8f8f8;
    border-bottom: 1px solid #E1DFDF;
    font-size: 14;
    line-height: 30px;
}



